<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eco.acorn">

    <application
        android:allowBackup="true"
        android:icon="@drawable/acorn_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/acorn_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".session.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoToolbar">
        </activity>
        <activity
            android:name=".session.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoToolbar"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoToolbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>